name: ESP-IDF Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: ESP-IDF build
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: v4.4.1
    - run: ls build
    - name: 'Upload App Binary'
      uses: actions/upload-artifact@v3
      with:
        name: app-binary
        path: build/main.bin
